
@{
    ViewData["Title"] = "ActivitiesSelected";
}


<div class="activitiesSelected-body">
    <div class="activities-container">
        <div class="activities-wrapper"><h1>[Type of Activity]</h1></div>
        <div class="activities-list">
            <div class="activity-card">fff</div>
            <div class="activity-card">fff</div>
            <div class="activity-card">sss</div>
            <div class="activity-card">ddd</div>
            <div class="activity-card">gggg</div>
            <div class="activity-card">hhhh</div>
        </div>
    </div>
</div>
