@model FFG.Models.HomeViewModels.ActivitiesViewModel

<div class="activities-body">
    <div class="activities-container">
        <div class="activities-wrapper"><h1>Types of activities</h1></div>
        <div class="activities-list">
            @foreach (var activity in Model.activities.ToList())
            {
                <div class="client"><span class="logo"></span><h2><a asp-controller="Home" asp-action="ActivitiesSelected" asp-route-id="@activity.Id">@activity.ActivityTypeName</a></h2></div>
            }
        </div>
    </div>
</div>
