@{
    ViewData["Title"] = "Home Page";
}
<div class="templatemo_headerimage">
    <div class="flexslider">
        <ul class="slides">
            <li><img src="images/slider/1.jpg" alt="Slide 1"></li>
            <li><img src="images/slider/2.jpg" alt="Slide 2"></li>
            <li><img src="images/slider/3.jpg" alt="Slide 3"></li>
        </ul>
    </div>
</div>
<div class="slider-caption">
    <div class="templatemo_homewrapper">
        <div class="templatemo_hometitle">Welcome!</div>
        <div class="templatemo_hometext">This is the latest and the coolest sports event platform!</div>
        <div class="templatemo_hometext">Create your own event or sign up to the existing ones!</div>
        <div class="col-sm-6" style="display: -webkit-inline-box">
            <div class="templatemo_homebutton" id=loginButton style="margin-right: 50px;"><a asp-area="" asp-controller="Account" asp-action="LogIn">LogIn</a></div>
            <div class="templatemo_homebutton" id=registerButton style="margin-left: 50px;"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></div>
        </div>
    </div>
</div>