@import url("https://fonts.googleapis.com/css?family=PT+Mono");

*,
*::before,
*::after {
    box-sizing: inherit;
}

.ranking-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.box {
    width: 100%;
    min-width: 250px;
    display: block;
    height: 50px;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(to right, aliceblue 35%, #fff 100%);
    margin-bottom: 40px;
    padding: 15px 25px 0 40px;
    color: darkslategray;
    box-shadow: 1px 2px 1px -1px #777;
    transition: background 200ms ease-in-out;
}

.shadow {
    position: relative;
}

    .shadow:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 13px;
        right: 7px;
        width: 75%;
        top: 0;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
        transition: all 150ms ease-in-out;
    }

.box:hover {
    background: linear-gradient(to right, darkgray 0%, darkgray 100%);
}

.shadow:hover::before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    bottom: 20px;
    z-index: -10;
}

.circle {
    position: absolute;
    top: 14px;
    left: 15px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px antiquewhite;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align:left;
}

.ranking-title {
    padding-top: 9%;
    padding-bottom: 2%;
}

.ranking-title h1 {
    color: aliceblue;
}

.circle h4 {
    font-size: 16px;
    color: #888;
    padding: 0px;
    margin: 0px;
    width: 200px;
    padding-left: 30px;
}


.pagination {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    border-radius: 40px;
    
}


.pagination li {
    display: inline-block;
    list-style: none;
}

.pagination li a {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            text-align: center;
            text-decoration: none;
            color: #252525;
            border-radius: 4px;
            margin: 5px;
            box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease;
            margin-left:12px!important;
            
}

.pagination li a:hover, .pagination li a.active {
        color: #fff;
        background-color: #e46142;
}

.pagination li:first-child a {
            border-radius: 40px 0 0 40px;
}

.pagination li:last-child a {
            border-radius: 0 40px 40px 0;
}

.ranking-wrapper{
    margin-top: 260px!important;
    margin-bottom: 50px!important;
}