@using Microsoft.AspNetCore.Identity
@using FFG.Models

@inject SignInManager<Data.Core.Domain.User> SignInManager
@inject UserManager<Data.Core.Domain.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a class="menu" asp-area="" asp-controller="Home" asp-action="Activities">Activities</a></li>
        <li><a class="menu" asp-area="" asp-controller="Home" asp-action="CreateActivity">Create Activity</a></li>
        <li><a class="menu" asp-area="" asp-controller="User" asp-action="Profile">Profile</a></li>
        <li><a class="menu" asp-area="" asp-controller="Ranking" asp-action="SkillRanking">Ranking</a></li>
        <li><a class="menu" onclick="$('#target').submit();">Logout</a></li>
    </ul>
</div>
<form asp-controller="Account" asp-action="Logout" method="post" id="target" style="display:none"></form>
}
else
{
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"></ul>
    </div>
}
