
@{
    ViewData["Title"] = "SkillRanking";
}

<div class="ranking-container">
    <div class="ranking-title"><h1>Skill Ranking</h1></div>
    <div class="box shadow">
        <div class="circle"><h4>Valitzu</h4></div>
    </div>
    <div class="box shadow">
        <div class="circle"><h4>HaterU-LU-IehovA</h4></div>
    </div>
    <div class="box shadow">
        <div class="circle"><h4>HybridShape</h4></div>
    </div>
    <div class="box shadow">
        <div class="circle"><h4>Mokiz</h4></div>
    </div>
    <div class="box shadow">
        <div class="circle"><h4>MaxJohnnel</h4></div>
    </div>
    <div class="box shadow">
        <div class="circle"><h4>Kidsir(ultimul)</h4></div>
    </div>
</div>

