@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<Data.Core.Domain.User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="templatemo_headerimage">
    <div class="flexslider">
        <ul class="slides">
            <li><img src="~/images/slider/1.jpg" alt="Slide 1"></li>
            <li><img src="~/images/slider/2.jpg" alt="Slide 2"></li>
            <li><img src="~/images/slider/3.jpg" alt="Slide 3"></li>
        </ul>
    </div>
</div>
<div class="slider-caption">
    <div class="templatemo_homewrapper">
        <div class="content-container">
            <section>
                <h2>@ViewData["Title"]</h2>
                <form method="post">
                    <h4>Use your account to log in</h4>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn-application">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword" class="links--application">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="links--application">Register as a new user?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
    </div>
</div>