@model FFG.Models.UserViewModels.CreateActivityViewModel

<div class="profile-container">
    <div class="activities-container">
        <div class="activities-wrapper"><h1>Create activity</h1></div>
        <div class="create-activity-card">
            <div class="create-activity-row">
                <div class="col-md-6">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ActivityName" class="control-label"></label>
                            <input asp-for="ActivityName" class="form-control" />
                            <span asp-validation-for="ActivityName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActivityTypeName" class="control-label"></label>
                            <select asp-for="ActivityTypeName" class="form-control">
                                 @foreach (var type in Model.activityTypes)
                                 {
                                     <option>@type</option>
                                 }
                             </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActivityDescription" class="control-label"></label>
                            <input asp-for="ActivityDescription" class="form-control" />
                            <span asp-validation-for="ActivityDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NumberOfParticipants" class="control-label"></label>
                            <input asp-for="NumberOfParticipants" class="form-control" />
                            <span asp-validation-for="NumberOfParticipants" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="control-label">Location</label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartTime" class="control-label"></label>
                            <input asp-for="StartTime" class="form-control" />
                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndTime" class="control-label"></label>
                            <input asp-for="EndTime" class="form-control" />
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cost" class="control-label"></label>
                            <input asp-for="Cost" class="form-control" />
                            <span asp-validation-for="Cost" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn-application">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>