
@{
    ViewData["Title"] = "Profile";
}

<div class="profile-container">
    <div class="profile-title"><h1>Profile</h1></div>
    <div class="card">
        <div class="profile-content">
            <div><h3>Username</h3></div>
            <div><h3></h3></div>
            <div><h3>452452 Skill points</h3></div>
            <div><h3></h3></div>
            <div><h3>10500 Friendly points</h3></div>
            <div><h3></h3></div>
            <div><h3>56 Activities participations</h3></div>
        </div>
    </div>
</div>
